.about-me{
	position:relative;
	width: 100%;	 
	height:700px; 
	overflow-y: auto;
}

.name{
   width: 100%;
   height: 180px;
   text-align: center;
}
.name .title{
   font-size: 100px;
   font-weight: 500;
   color: #212140;
}
.name .sub-title{
   font-size: 20px;
   font-weight: 600;
   color: #212140;
   margin-left: 520px;
}
.info-container{
   width: 800px;
   padding-left: 150px;
   padding-bottom: 15px;
}
.info-container p{
   font-size: 14px;
   font-weight: 500;
   color: grey;
   line-height: 2;
   margin-top: 5px;
}
.info-container .detail-title{
   font-size: 14px;
   font-weight: 600;
   color: #212140;
   line-height: 2;
   display: block;
}
.info-container a{
   font-size: 14px;
   font-weight: 600;
   color: #333;
   line-height: 2;
   cursor: pointer;
   text-decoration: none;
}